* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f7cd75;
	height: 100vh;
	font-family: Roboto, sans-serif;
	padding: 10%;
}

h2 {
	font-weight: 500;
	font-size: 1.25em;
}

.card {
	display: flex;
	width: 800px;
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 3px;
}

.col {
	overflow: auto;
	max-height: 444px;
	padding: 2.5rem;
}

.col-1 {
	background-color: #f2f2f2;
	flex: 1 1 60%;
}

.col-2 {
	flex: 1 1 100%;
}

.card-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.card-title a {
	font-size: 0;
	width: 24px;
	height: 24px;
	display: block;
	background-color: red;
	background: transparent url(img/plus.svg) no-repeat center center;
	background-size: cover;
}

/*Card mini*/
.card-mini {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 5px;
	padding: .75rem;
	display: flex;
	flex-direction: column;
	min-width: 220px;
	margin-bottom: 1.5rem;
	color: #666666;
	font-size: 15px;
	font-weight: 500;
	transition: box-shadow .2s linear;
}

.card-mini.active, .card-mini:hover {
	box-shadow: 0 0 0 2px #8898c7;
	cursor: pointer;
}

.card-mini img {
	max-width: 70px;
	margin-bottom: .5rem;
}

.card-mini .card-number {
	margin-bottom: .25rem;
}

/*Balance*/
.price-balance {
	font-size: 1.5em;
	font-weight: 600;
}

.separator {
	border: none;
	height: 1px;
	background-color: rgba(0,0,0,0.125);
	margin-bottom: 2rem;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-item {
	display: flex;
	margin-bottom: 2rem;
	align-items: center;
}

.list-minus, .list-plus {
	font-size: 0;
	width: 1.5rem;
	height: 1.5rem;
	background-color: red;
	margin-right: 1.5rem;
	border: 1px solid rgba(0,0,0,0.125);
	border-radius: 50%;

}

.list-minus {
	background: transparent url(img/minus.svg) no-repeat center center;
	background-size: .75rem .75rem;
}

.list-plus {
	background: transparent url(img/plus.svg) no-repeat center center;
	background-size: .75rem .75rem;
}

/*Product*/
.product {
	font-size: 1.1rem;
	font-weight: 700;
	margin-bottom: .15rem;
}

.product-details {
	font-size: 13px;
	font-weight: 500;
	color: #aaa;
}


.product-price {
	font-size: 1rem;
	font-weight: 700;
	margin-left:  auto;
}

.product-price-minus {
	color: #8898c7;
}

.product-price-plus {
	color: #8dcf62;
}