* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

@import "components/header";
@import "components/hero";

.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

/*utilities*/
.d-flex {
    display: flex;
}

/*header*/

img {
    max-width: 100%;
    width: 100%;
}
